.dark-text {
  color: #fff;
}
.dark-btn {
  color: #fff;
}

.header {
  &_inner {
    width: 100%;
    padding: 20px 30px 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &_logo {
    font-family: $ff-codeEn;
    font-size: 2.4rem;
    font-weight: 200;
    letter-spacing: lsp(50, 1000);
  }

  &_nav {
    position: absolute;
    display: none; //非表示中
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    padding: 165px 40px 0px 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: map-get($layer, "navigation");
  }
}

.nav {
  &_lists {
    display: flex;
    flex-direction: column;
  }

  &_list {
    &_link {
      display: inline-block;
      position: relative;
      font-family: $ff-codeEn;
      padding: 2rem 4rem 2rem 0;
      font-size: 8rem;
      font-weight: 100;
      text-decoration: none;

      &:after {
        position: absolute;
        content: "";
        width: 4rem;
        height: 4rem;
        background-image: url(/images/icon_arrow.svg);
        background-repeat: no-repeat;
        right: 0;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0.5s $easeOutExpo;
      }

      &:hover {
        color: #88c4dd;
        transition: all 0.5s $easeOutExpo;
        &::after {
          opacity: 1;
          transform: translate(50px, -50%) scale(0.8, 0.8);
          transition: all 0.5s $easeOutExpo;
        }
      }
    }
  }
}

//ハンバーガーメニュー
.btn-menu {
  display: block;
  padding: 0 20px;
  border-radius: 20px;
  border: rgba(255, 255, 255, 0.2) 1px solid;
  background: rgba($color: #000, $alpha: 0.7);

  &_text {
    display: inline-block;
    font-size: 1.6rem;
    color: #fff;
    font-family: $ff-codeEn;
    font-weight: 200;
    line-height: 40px;
    padding: 0 1rem;
  }

  &_icon {
    svg {
      color: #fff;
      fill: currentColor;
    }
  }
}

.-active {
  rect {
    &:nth-of-type(1) {
      transform: translateY(20px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
      animation: menu-bar2 0.8s forwards;
    }
    @keyframes menu-bar2 {
      100% {
        height: 0;
      }
    }
    &:nth-of-type(3) {
      transform: translateY(-20px) rotate(45deg);
    }
  }
}
