@use '../global/' as global;
@use 'sass:math';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';
@use 'sass:map';

.section{
	width: 100%;

	&_inner{
		width: 100%;
		max-width: math.percentage(math.div(global.$widthInner,global.$widthCanvas));
		margin: 0 auto;
	}
}


