@use '../global/' as global;


/* text */
.text_center{
	text-align: center;
}

.text_right{
	text-align: right;
}

.text_paragraph{
	margin-top: 1em;
}

.text_marker{
	background:linear-gradient(transparent 60%, #FFFF27 60%);
}

.text_en{
	font-family: global.$ff-codeEn;
}

.text_bold{
	font-weight: 600;
}

.text_link{
	color: #0066C0;
}

.br{
	&_sp{
		display: block;

		@include global.mq('pc'){
			display: none;
		}
	}
	&_pc{
		display: none;

		@include global.mq('pc'){
			display: block;
		}
	}
}
