@use '../global/' as global;

.section-heading {
	display: inline-block;
	font-size: 8rem;
	color: #fff;
	position: relative;
	font-family: global.$ff-codeEn;
	font-weight: 200;
	margin-bottom: 80px;

	&::after {
		content: '';
		width: 160px;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
	}
}

.section-heading02 {
	display: inline-block;
	font-size: 8rem;
	color: #00558f;
	position: relative;
	font-family: global.$ff-codeEn;
	font-weight: 200;
	margin-bottom: 80px;

	&::after {
		content: '';
		width: 160px;
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
	}
}
