@use '../global/' as global;
/*reset*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,
ol {
	list-style: none;
}

/*base*/
html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: global.$ff-codeJp;
	font-size: global.$fs-base;
	font-weight: global.$fw-base;
	color: global.$clr-text;
	line-height: global.$lh-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: global.$clr-bg;
	overflow-x: hidden;
	overflow-wrap: break-word;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	letter-spacing: global.lsp(20, 1000);
}

a {
	color: inherit;
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

video {
	max-width: 100%;
	height: auto;
}
